<!DOCTYPE html>
<html lang="en">

    {% include 'new_header.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://img.freepik.com/free-vector/woman-training-exercising-with-personal-instructor-gym-slim-girl-trainer-doing-basic-stretching-exercises_575670-508.jpg?w=2000')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Know a few things about me.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
           <p>Hi. My name is Edun Rilwan. I am a Python/web developer. I love to write during my leisure.
           I am a published writer. Rilwan hopes to invent great things that will benefit the world at large.
           Hence, the reason I chose to learn programming. Programming gives me the opportunity to put my plans into action.
           I love to keep fit too. That is why I chose the fitness niche for my blogging career.
           </p>
                        <p>You want a blog like this? Reach out to me via the contact page.</p>
                        <h1>Bye for now</h1>
             </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}

</html>
